@charset "UTF=8";

/* #main{
    background-color: rgb(77, 76, 76);
    color: rgb(106, 170, 226);
    padding: 5px;
    border-radius: 8px;
    background-attachment: fixed;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}                                                                               testando variedades
h1{
    text-align: center;
    border-style: groove;
    border-color: black;
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(143, 38, 38, 0.747);
} */

body{
    font: normal 16px Arial, Verdana, Serif;
}
h1{
    text-align: center;
}
h2{
    text-align: right;
}
p{
    text-align: justify;
    text-indent: 30px;
}